.popup {
  width: 500px;
}

.spinner {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  height: 100vw;
  width: 100vh;
  position: absolute;
}

.hide-sidebar{
  display: block;
}

@media screen and (max-width: 600px) {
  .hide-sidebar{
      display:none;
  }
}

@media screen and (min-width: 600px) {
  .hide-sidebar{
      display:block;
  }
}